.Titulo{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.65);
}

.cardcontent{
    padding: 0;
    margin: 2px;
    width: 100%;
    height: 100%;
    
}

.nopadding{
    padding: 0%;
    margin: 0%;
}

.third-col{
    text-align: right;
}

ion-img::part(image) {
    border-radius: 5%;
    margin:0px;
    size: 100%
  }

.description{
      max-height: 50px;
}

.head
{
    --background: #24b34b;
}
.buscador{
    margin-top: 2px;
    margin-right: 0;
    border: 0;
    width: auto;
    padding: 0;
    height: 5px;
    

}

.tools{
    color:rgba(255, 255, 255, 0.63);
    font-size: 200%;
}

.logo{
    width: 40px;
    height: 40px;
    margin-left: 4px;
    margin-right: 4px;
}

ion-menu-button{
    color:rgba(255, 255, 255, 0.89);
    padding: 0;
    margin-left: 0;

}