.Titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: 700;
}

.card{
    height: 125px;
    padding: 2px;
    margin: 2px;
    
}

.card row{
    margin: 2px;
    padding: 2px;
}
