<app-header-offer></app-header-offer>

<ion-content *ngIf="vip"> 
    <section>
        <div class="formulario">
        <form>
            <input type="text" name="nombre"  placeholder="Nombre de la empresa" [formControl]="nombreEmpresa">
            <input type="text" name="direccion"  placeholder="Dirección" [formControl]="direccionEmpresa">
            <input type="text" name="state"  placeholder="provincia" [formControl]="provinciaEmpresa">
            <input type="text" name="localidad"  placeholder="Localidad" [formControl]="localidadEmpresa">
            <legend><p>Tipo de negocio</p>
                <p class="radio">
              <input type="radio" name="type" value="Restaurant" [formControl]="tipoEmpresa"> Restaurante
              <input type="radio" name="type" value="Bar" [formControl]="tipoEmpresa"> Cafe & Copas
              <input type="radio" name="type" value="Discotheque" [formControl]="tipoEmpresa"> Discoteca
            </p>
            </legend>

            <ion-select name="subtipo" aria-placeholder="Selecciona una categoría" class="select" [formControl]="subTipoEmpresa">
                <ion-select-option>Restaurante Chino</ion-select-option>
                <ion-select-option>Pizzería</ion-select-option>
                <ion-select-option>tralala</ion-select-option>
            </ion-select>
                <label for="img" class="botonimg">Añadir logo</label>
                <input id="img" type="file" name="imagen" [formControl]="imagenEmpresa">

            <p>
              <label for="enviar" class="crear">CREAR EMPRESA</label>  
              <input id="enviar" type="submit" value="crear empresa" (click)="registrar()">
            </p>
        </form>
        </div>
    </section>
</ion-content>
<ion-content *ngIf="novip">
    <section>
        <p>¿Tienes un negocio y aun no te anuncias en TUCAN?</p>
        <span button="true" (click)="cambiarVip()">¡HAZTE VIP!</span>
        <p class="parrafo">Súbete a nuestra rama y únete a la comunidad de las ofertas en tiempo real</p>
    </section>

</ion-content>
<ion-content *ngIf="registrado"> 
    <ion-grid>
        <ion-row *ngIf="empresa != null">
            <ion-col size="4">
                <ion-img alt="logo empresa" src="/assets/imgs/{{empresa.logo}}"></ion-img>
            </ion-col>
            <ion-col>
                <h2>{{empresa.name}}</h2>
                <p>Correo usuario</p>
            </ion-col>
        </ion-row>
        <ion-row class="botonesperfil">
            <p>
                <label  class="crear" (click)="crearOferta()">CREAR OFERTA</label>  
              </p>
              <span class="iraofertas" button="true" (click)="ofertasPublicadas()">OFERTAS PUBLICADAS</span>
        </ion-row>
    </ion-grid>
</ion-content>
