<app-header-offer title="My offerts"></app-header-offer>

<ion-content>
  <ion-grid>
  <ion-row *ngFor="let offer of offers">
    <ion-card  class="cardcontent">
      <ion-card-header class="nopadding">
        <ion-grid>
        <ion-row>
          <ion-col size="3">
            
          </ion-col>
          <ion-col size="7">
            <ion-card-subtitle color="dark" class="Titulo">{{offer.oferta.enterprise.name}}</ion-card-subtitle>
            <ion-card-subtitle>{{offer.oferta.name}}</ion-card-subtitle>
            <form>
              <p class="valoracion">
              
                  <input id="radio1" type="radio" name="estrellas" value="5"><!--
                  --><label for="radio1">★</label><!--
                  --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                  --><label for="radio2">★</label><!--
                  --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                  --><label for="radio3">★</label><!--
                  --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                  --><label for="radio4">★</label><!--
                  --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                  --><label for="radio5">★</label>
          
              </p>
          </form>
          </ion-col>
          <ion-col size="2" class="third-col">
            <ion-card-subtitle>{{offer.oferta.start_date}}</ion-card-subtitle>
            <ion-card-subtitle>{{offer.oferta.start_time|slice:0:5}}</ion-card-subtitle>
            <ion-card-subtitle>{{offer.oferta.finish_time|slice:0:5}}</ion-card-subtitle>
            
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card-header>
    </ion-card>
  </ion-row>
</ion-grid>
</ion-content>

