ion-icon{
    margin-right: 7px;
}
span{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.616);
    font-size: 12px;
}
ion-img{
    margin-top: 30px;
    margin:50px;
}




    ion-range{
        --bar-background-active: #01641c;
        --bar-background: #01641b6e;
        --pin-background: #01641c;
    } 
.slide{
    width: 100%;
}