<ion-menu side="end" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-img src="/assets/imgs/logotucan.png" (click)="irHome()"></ion-img>
  </ion-content>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item button="true" (click)="irFiltros()">
        <ion-icon name="checkmark-done-circle-outline"></ion-icon><span>FILTROS</span></ion-item>
        <ion-item button="true" (click)="irOfertas()">
        <ion-icon name="pricetags-outline"></ion-icon><span>MIS OFERTAS</span></ion-item> 
        <ion-item button="true" (click)="irPerfil()">
        <ion-icon name="person-circle-outline"></ion-icon><span>PERFIL</span></ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  
</ion-menu>
