<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="restaurant" class="tabs">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Restaurantes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pub" class="tabs">
      <ion-icon name="cafe-outline"></ion-icon>
      <ion-label>Cafe y Copas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discotheque" class="tabs">
      <ion-icon name="wine-outline"></ion-icon>
      <ion-label>Discotecas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="filters" class="tabs">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Filtros</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
