
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="restaurant">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Restaurantes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discotheque">
      <ion-icon name="wine-outline"></ion-icon>
      <ion-label>Discotecas/Bar Copas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pub">
      <ion-icon name="cafe-outline"></ion-icon>
      <ion-label>Cafe Bar</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
