<ion-header no-border>
  <ion-toolbar class="head">
    <ion-img src="/assets/imgs/logotucan.png" slot="start" class="logo"></ion-img>
    <ion-buttons slot="end">
      <ion-menu-button autohide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
 
  <section>
    <h2>Eventos</h2>
  <ion-grid class="mtv">
    
        <div class="eventos">
        <label class="music">Evento TV</label>
        <input type="checkbox" id="tv" class="noShow" name="sport_direct" value="1" [formControl]="sport_direct">
        <label for="tv" class="icons"><ion-icon name="tv-outline" ></ion-icon></label>
    </div>
      
      
        <div class="eventos">
        <label class="music">Música en directo</label>
        <input type="checkbox" id="music" class="noShow" name="music_direct" value="1" [formControl]="music_direct">
        <label for="music" class="icons"><ion-icon name="musical-notes-outline"></ion-icon></label>
      </div>
    
  </ion-grid>
  </section>
<section class="tipos">
<h2>Tipo de local</h2>

    <ul class="flex">
      <div>
      <li>
        <ion-checkbox color ="success" id="Chino" name="tipo" value="Chino" [formControl]="chino"></ion-checkbox>
        <label for="Chino">chino</label>
      </li>
      <li>
        <ion-checkbox color ="success" id="Mexicano" name="tipo" value="Mexicano" [formControl]="mexicano"></ion-checkbox>
        <label for="Mexicano">mexicano</label>
      </li>
      <li>
        <ion-checkbox color ="success" id="Asiatico" name="tipo" value="Asiatico" [formControl]="asiatico"></ion-checkbox>
        <label for="Asiatico">asiatico</label>
      </li>
    </div>
    <div>
      <li>
        <ion-checkbox color ="success" id="Italiano" name="tipo" value="Italiano" [formControl]="italiano"></ion-checkbox>
        <label for="Italiano">italiano</label>
      </li>
    
      <li>
        <ion-checkbox color ="success" id="Burger" name="tipo" value="Burger" [formControl]="burger"></ion-checkbox>
        <label for="Burger">Burger</label>
      </li>
      <li>
        <ion-checkbox color ="success" id="Bocatas" name="tipo" value="Bocatas" [formControl]="bocatas"></ion-checkbox>
        <label for="Bocatas">Bocata</label>
      </li>
    </div>
    <div>
      <li>
        <ion-checkbox color ="success" id="Pizza" name="tipo" value="Pizza" [formControl]="pizza"></ion-checkbox>
        <label for="Pizza">Pizza</label>
      </li>
      <li>
        <ion-checkbox color ="success" id="Moderna" name="tipo" value="Moderna" [formControl]="moderna"></ion-checkbox>
        <label for="Moderna">Moderna</label>
      </li>
    
      <li>
        <ion-checkbox color ="success" id="Tradicional" name="tipo" value="Tradicional" [formControl]="tradicional"></ion-checkbox>
        <label for="Tradicional">Tradicional</label>
      </li>
    </div>
    <div>
      <li>
        <ion-checkbox color ="success" id="Kebab" name="tipo" value="Kebab" [formControl]="kebab"></ion-checkbox>
        <label for="Kebab">kebab</label>
      </li>
      <li>
        <ion-checkbox color ="success" id="Tapas" name="tipo" value="Tapas" [formControl]="tapas"></ion-checkbox>
        <label for="Tapas">Tapas</label>
      </li>
      <li>
        <ion-checkbox color ="success" id="Chiringuito" name="tipo" value="Chiringuito" [formControl]="chiringuito"></ion-checkbox>
        <label for="Chiringuito">Chiringuito</label>
      </li>
    </div>
  </ul>
  <ion-button class="aplicar" (click)="formulario()">Aplicar</ion-button>


</section>
</form>

  <section class="slide">
    <h2>Distancia máx: <span class="km">{{ kms }} Kms</span></h2>
    <ion-range min="1"
               max="10"
               step="1"
               value={{kms}}
               (ionChange)="cambiarDistancia($event)">
    </ion-range>
  </section>
</ion-content>