<app-header-offer title="Filters"></app-header-offer>

<form class="distanciaForm">
  <fieldset>
  <legend>Distancia</legend>
  <input type="range" name="distance" id="distance" min="0" max="50" step="1" value="3" class="range" list="tickmarks">
</fieldset>
</form>
<ion-grid class="mtv">
  <ion-row>
    <ion-col size="6">
      <form>
      <label>Evento TV</label><br>
      <input type="checkbox" id="tv" class="noShow">
      <label for="tv" class="icons"><ion-icon name="tv-outline" ></ion-icon></label>
    </form>
    </ion-col>
    <ion-col size="6">
      <label class="music">Musica en directo</label><br>
      <input type="checkbox" id="music" class="noShow">
      <label for="music" class="icons"><ion-icon name="musical-notes-outline"></ion-icon></label>
    </ion-col>
  </ion-row>
</ion-grid>
<form>
  <fieldset class="filtrosForm">
    <legend>Tipo de Restaurante</legend>
    <ul>
      <li>
        <input type="checkbox" id="chino" name="tipo" value="chino">
        <label for="chino">Restaurante chino</label>
        
      </li>
      <li>
        <input type="checkbox" id="mexicano" name="2" value="mexicano">
        <label for="mexicano">Restaurante mexicano</label>
        
      </li>
      <li>
        <input type="checkbox" id="asiatico" name="3" value="asiatico">
        <label for="asiatico">Restaurante asiatico</label>
        
      </li>
      <li>
        <input type="checkbox" id="italiano" name="4" value="italiano">
        <label for="italiano">Restaurante italiano</label>
        
      </li>
      <li>
        <input type="checkbox" id="italiano" name="4" value="italiano">
        <label for="italiano">Hamburguesas</label>
        
      </li>
      <li>
        <input type="checkbox" id="italiano" name="4" value="italiano">
        <label for="italiano">Bocadillos</label>
        
      </li>
      <li>
        <input type="checkbox" id="italiano" name="4" value="italiano">
        <label for="italiano">Pizza</label>
        
      </li>
      <li>
        <input type="checkbox" id="italiano" name="4" value="italiano">
        <label for="italiano">Cocina tradicional</label>
        
      </li>
      <li>
        <input type="checkbox" id="italiano" name="4" value="italiano">
        <label for="italiano">kebab</label>
        
      </li>
      <li>
        <input type="checkbox" id="italiano" name="4" value="italiano">
        <label for="italiano">Tapería</label>
        
      </li>
  </ul>
  </fieldset>
</form>
<form>
  <fieldset class="filtrosForm">
    <legend>Filtros Pub & Discoteca</legend>
    <ul>
      <li>
        <input type="checkbox" id="chino" name="tipo" value="chino">
        <label for="chino">Billar</label>
        
      </li>
      <li>
        <input type="checkbox" id="mexicano" name="2" value="mexicano">
        <label for="mexicano">Dardos</label>
        
      </li>
      <li>
        <input type="checkbox" id="asiatico" name="3" value="asiatico">
        <label for="asiatico">Futbolín</label>
        
      </li>
      <li>
        <input type="checkbox" id="italiano" name="4" value="italiano">
        <label for="italiano">Clases de baile</label>
        
      </li>
    
  </ul>
  </fieldset>
</form>
