
.range{
    width: 80%;
    margin-left: 10%;
    background-color: rgb(48, 53, 48);
    overflow: hidden;
    background-color: #7a7a79;
}

fieldset{
    border-radius: 5%;
    color: rgba(0, 0, 0, 0.65);
    border-color: rgba(0, 0, 0, 0.1);
}

.mtv{
    text-align: center;
    margin: 0%;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}


.icons{
    font-size: xx-large;
    color: darkgray;
    background-color: white;
    
  }
  
  #music:checked + label {
    color: #24b34b;
  }

  #tv:checked + label{
    color: #24b34b;
  }

  .noShow{
      display:none
  }

 
 

  li{
      list-style: none;
      
  }
  
 legend{
     text-transform: uppercase;
     font-size: 10px;
 }

  ion-checkbox{
    --background-checked:#24b34b;
    --border-color-checked: #24b34b;
  }

  ion-range{
    --bar-background-active: #24b34b;
    --bar-background: #01641b6e;
    --pin-background: #24b34b;
} 
.slide{

width: 90%;
padding-top: 10px;
}

  span{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.616);
    font-size: 12px;
    margin-left: 15px;
}

article{
  font-family: 'Montserrat', sans-serif;
}
label{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 500;
}
section{
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(243, 243, 243, 0.301);
  border-radius: 5%;
  margin: 15px;
  padding: 10 px;
  text-align: center;
  

}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1px;
}
li{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 1px;
  border-radius: 25%;

}
.tipos{
  padding:10px;
  justify-content: space-between;
  
}
form{
  padding: 0%;
  margin: 0%;
}

h2{
  font-size: 15px;
  margin: 0%;
  font-weight: 600;
}
ul{
  padding-inline-start: 0%;
}

.eventos{
  background-color: white;
  border-radius: 5%;
  font-weight: 600;
  display:flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding-left:30px;
}

.music{
  margin-left: 30%;
}
.km{
  font-size: 15px;
  margin: 0%;
  font-weight: 600;
  color: #00a52c;

}

.head
{
    --background: #24b34b;
}
.logo{
  width: 40px;
  height: 40px;
  margin-left: 4px;
  margin-right: 4px;
}

.aplicar{
  font-family: 'Montserrat', sans-serif;
  --background: white;
  color: #24b34b;
  font-weight: 600;
  text-transform: capitalize;
}

ion-menu-button{
  color:rgba(255, 255, 255, 0.89);
  padding: 0;
  margin-left: 0;

}