<app-header title="Cafe y Copas"></app-header>


<ion-content>
  <ion-grid>
  <ion-row *ngFor="let oferta of offers">
    <ion-card *ngIf="oferta.bar != null" button="true" class="cardcontent" (click)="presentModal(oferta.bar.name, oferta.name, oferta.description, oferta.bar.logo, oferta.assessment, oferta.id, oferta.music_direct, oferta.sport_direct)" >
      <ion-card-header class="nopadding">
        <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-img class="imagen" src="/assets/imgs/logopub.jpg">
          </ion-img></ion-col>
          <ion-col size="7">
            <ion-card-subtitle class="Titulo">{{oferta.bar.name}}</ion-card-subtitle>
            <ion-card-subtitle>{{oferta.name}}</ion-card-subtitle>
          </ion-col>
          <ion-col size="2" class="third-col">
            <p></p>
            <ion-card-subtitle>{{oferta.start_time| slice:0:5}}</ion-card-subtitle>
            <ion-card-subtitle>{{oferta.finish_time| slice:0:5}}</ion-card-subtitle>
            <ion-icon name="tv-outline" *ngIf="oferta.sport_direct"></ion-icon>
            <ion-icon name="musical-notes-outline" *ngIf="oferta.music_direct"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card-header>
    </ion-card>
  </ion-row>
</ion-grid>
</ion-content>
