section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

span{
    margin: 15%;
    padding: 20px;
    background-color:greenyellow;
    border-radius: 10%;
    color: rgba(0, 0, 0, 0.60);
    font-weight: 600;

}

p{
    margin-top: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 550;
    font-size: 16px;
  }

  form{
      display:flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding-top: 10px;
  }

  input[type="text"] {
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    color:rgb(0, 0, 0, 0.65)
  }
  .formulario{
      width: 90%;
  }
  .radio{
      display: flex;
      flex-wrap: nowrap;
  }
  input[type="radio"] {
      margin:2px;
  }
  #img{
      display: none;
  }
  .botonimg{
      margin:   25px;
      padding: 12px;
      border-radius: 5%;
      background-color: rgb(20, 155, 61);
      color:rgb(253, 253, 253);
      font-weight: 600;
  }
  input[type="submit"] {
    display: none;
  }

  .crear{
      border: 1px solid rgb(47, 177, 105);
      color: rgb(47, 177, 105);
      padding: 10px;
  }

  .icons{
    font-size: xx-large;
    color: darkgray;
    background-color: white;
    
  }
  
  #music:checked + label {
    color: #01641c;
  }

  #tv:checked + label{
    color: #01641c;
  }

  .noShow{
      display:none
  }

  .iraofertas{
      padding: 10;
      background-color: rgb(47, 177, 105);
      color:white;
      border-end-start-radius: 50%;
      font-weight: 600;
      font-size: 14px;
  }
  .botonesperfil{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  ion-textarea{
      text-align: left;
  }