<app-header-offer title="CreateOffer"></app-header-offer>

<ion-content>
<section>
  <div class="formulario">
  <form>
      <input type="text" name="titulo"  placeholder="Título de la oferta" required="true" [formControl]="nameOferta">
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime value="2021-03-06"  required="true" [formControl]="fechaInicio" min="2021" max="2025"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Hora Inicio</ion-label>
        <ion-datetime display-format="h:mm A" picker-format="h:mm A"  required="true" [formControl]="horaInicio"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Hora Fin</ion-label>
        <ion-datetime display-format="h:mm A" picker-format="h:mm A"  required="true" [formControl]="horaFin"></ion-datetime>
      </ion-item>
      <fieldset>
      <ion-textarea name="descripción" row="5" placeholder="Describe tu oferta" required="true" maxlength="220" [formControl]="descripcionOferta"></ion-textarea>
      </fieldset>
      <legend><p>Indica si hay musica en directo o algun evento televisivo</p>
          <input type="checkbox" id="music" class="noShow" [formControl]="musicaDirecto">
          <label for="music" class="icons"><ion-icon name="musical-notes-outline"></ion-icon></label>
          <input type="checkbox" id="tv" class="noShow" [formControl]="deporteDirecto">
          <label for="tv" class="icons"><ion-icon name="tv-outline" ></ion-icon></label>
      </legend>

      <p>
        <label for="enviar" class="crear" button="true" (click)="crearOferta()">CREAR OFERTA</label>  
        <input id="enviar" type="submit" value="crear empresa">
      </p>
       
    </form>
  </div>
</section>
</ion-content>