.nopadding{
    padding: 0%;
    margin: 0%;
}

h1{
    margin-top: 3px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0);
    text-transform: capitalize;
    font-weight: 600;

}

p{
    margin-top: 6px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.65);
    font-size: 16px;
  }
  
  

h2{
    margin-top: 3px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0);

}

.head
{
    --background: #24b34b;
    color:white;
}


.stars{
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.head{
  display: flex;
  font-size: 26px;
}

.back{
  margin-left: 10px;
}

ion-img::part(image) {
  border-radius: 10%;
  
}




.crear{
  .iWillGo{
    font-size: xx-large;
    color: darkgray;
    background-color: white;
    
  }
  
  #iWillGo:checked + label{
    color: #01641c;
  }
  
  .noShow{
      display:none
  }
  
  #iWillGo:hover + label{
    color: none;
  }
}

.eliminar{
  .iWillGo{
    font-size: xx-large;
    color: #01641c;
    background-color: white;
    
  }
  
  #iWillGo:checked + label{
    color: darkgray;
  }
  
  .noShow{
      display:none
  }
  
  #iWillGo:hover + label{
    color: none;
  }

 
}

span{
  color:#24b34b;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.btnmapa{
  margin-top: 50px;
  --background: rgba(230, 230, 230, 0.438);
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  color: #24b34b;
  font-weight: 600;
  
}

.center{
  height: 50%;
  align-self: flex-end;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Montserrat', sans-serif;
}

.btnvoy{
  margin-top: 50px;
  --background: #24b34b;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  --border-radius: 50%;
  height: 50px;
  font-weight: 600;
}