<ion-header  no-border>
    <ion-toolbar class="head">
        <ion-icon name="arrow-back-outline" button="true" (click)="dismiss()" class="back"></ion-icon>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid style="height: 100%;">
        <ion-row>
            <ion-col size="4">
                <ion-img [src]="imagen + ImagenEmpresa"></ion-img>
            </ion-col>
            <ion-col size="8"  class="nopadding">
                <ion-text>
                    <h1>{{nombreEmpresa}}</h1>
                </ion-text>
                <ion-img class="stars" [src]="imagenStar + ValoracionOferta + '.PNG'"></ion-img>
                
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="10">
                <ion-text>
                    <h2> {{TituloOferta}}</h2>
                </ion-text>
                <ion-text>
                    <p>{{DescripcionOferta}}</p>
                </ion-text>
                <span *ngIf="iWIll != null">Personas Inscritas:{{this.iWIll.length}}</span>
            </ion-col>
            <ion-col size="2">
                <form *ngIf="crearEliminar" class="eliminar">
                    <input type="checkbox" id="iWillGo" class="noShow" (click)="eliminarWillGo()">
                    <label for="iWillGo" class="iWillGo"><ion-icon name="people-circle-outline"></ion-icon></label>
                </form>
                <form *ngIf="crearEliminar == 0" class="crear">
                    <input type="checkbox" id="iWillGo" class="noShow" (click)="createWillGo()">
                    <label for="iWillGo" class="iWillGo"><ion-icon name="people-circle-outline"></ion-icon></label>
                </form>       
            </ion-col>
        </ion-row>
        <div class="center">
            <ion-button class="btnmapa" (click)="irMapa()">Mostrar ubicación</ion-button>
        </div>
    </ion-grid>
</ion-content>
