<ion-header  no-border>
    <ion-toolbar class="head">
        <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="4">
                <ion-img src="/assets/imgs/Lupe.jfif"></ion-img>
            </ion-col>
            <ion-col size="8"  class="nopadding">
                <ion-text>
                    <h1> NOMBRE DEL BAR</h1>
                </ion-text>
                    <ion-img class="stars" src="/assets/imgs/stars4.PNG"></ion-img>
                <ion-text>
                    <h2> Titulo de la oferta</h2>
                </ion-text>
                 
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="10">
                <ion-text>
                    <p>En este parrafo se pondran detalles de las ofertas mostradas en la pagina principal para que sepas a donde vas</p>
                  </ion-text>
            </ion-col>
            <ion-col size="2">
                <form>
                    <input type="checkbox" id="iWillGo" class="noShow">
                    <label for="iWillGo" class="iWillGo"><ion-icon name="people-circle-outline"></ion-icon></label>
                  </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
