<app-header-offer title="Offer"></app-header-offer>


<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="4">
                <ion-img src="/assets/imgs/Lupe.jfif"></ion-img>
            </ion-col>
            <ion-col size="8"  class="nopadding">
                <ion-text>
                    <h1> NOMBRE DEL BAR</h1>
                </ion-text>
                <form>
                    <p class="valoracion">
                        <input id="radio1" type="radio" name="estrellas" value="5"><!--
                        --><label for="radio1">★</label><!--
                        --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                        --><label for="radio2">★</label><!--
                        --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                        --><label for="radio3">★</label><!--
                        --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                        --><label for="radio4">★</label><!--
                        --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                        --><label for="radio5">★</label>
                      </p>
                </form>
                <ion-text>
                    <h2> Titulo de la oferta</h2>
                </ion-text>
                 
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="10">
                <ion-text>
                    <p>En este parrafo se pondran detalles de las ofertas mostradas en la pagina principal para que sepas a donde vas</p>
                  </ion-text>
            </ion-col>
            <ion-col size="2">
                <form>
                    <input type="checkbox" id="iWillGo" class="noShow">
                    <label for="iWillGo" class="iWillGo"><ion-icon name="people-circle-outline"></ion-icon></label>
                  </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
